body {
    font-family: Arial, sans-serif;
    max-width: 1060px;
    margin: 0 auto;
    padding: 20px;
}

header{
    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    -moz-appearance: textfield; !important;
    -webkit-appearance: none; !important;
    appearance: none; !important;
}

/* Remove a parte de incremento do número no Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type="text"], input[type="date"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

select {
    width: 1077px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; /* Fundo branco */
    color: #333; /* Texto escuro */
    font-size: 16px; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estilo quando o select está em foco */
select:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Estilo para opções do select (não é possível estilizar diretamente) */
select option {
    background-color: #fff;
    color: #333;
}